absl-py
altgraph
attrs
cffi
contourpy
cx_Freeze
cx_Logging
cycler
flatbuffers
fonttools
jax
jaxlib
kiwisolver
lief
matplotlib
mediapipe
ml-dtypes
MouseInfo
mpmath
numpy
opencv-contrib-python
opencv-python-headless
opt-einsum
packaging
pefile
pillow
protobuf
PyAutoGUI
pycparser
PyGetWindow
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
python-dotenv
python-utils
pytweening
pywin32-ctypes
requests
scipy
setuptools
six
sounddevice
sympy
ttkbootstrap
typing_extensions
wheel
